body{
    margin: 0;
    overflow-y: none;
    .container{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #F4F4F4;
        .game-container{
            position: relative;
            max-width: 350px;
            height: 600px;
            overflow: hidden;
            .background{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .score{
                position: absolute;
                top: 30px;
                left: 50%;
                color: white;
                font-weight: bold;
                font-size: 42px;
                z-index: 2;
            }
        }
    }
}

@media (max-width: 375px){
    body{
        .container{
            align-items: start;
            margin-top: 10px;
        }
    }
    
}