.modal{
    background: rgba(0,0,0,0.4);
    filter: blur(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    .content{
        width: 200px;
        height: 120px;
        border-radius: 20px;
        position: absolute;
        background: white;
        top: 40%;
        left: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            font-family: cursive;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
        button{            
            border: 2px black solid;
            background: white;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}